@media screen and (max-width: 1000px) {
    .logo {
        border-right: 2px solid #EBEBEB;
    }
    .blo-hid {
        display: none;
    }
    .menu {
        display: block;
    }
    .mushkilon-flex {
        flex-direction: column;
    }
    .mushkilon-video {
        width: 80%;
        margin: 0 auto;
    }
    .businesses-container-box-1 {
        padding-top: 50px;
    }
    .businesses-container-box-2 {
        width: 90%;
        padding-top: 50px;
    }
    .businesses-card {
        height: 200px;
    }
}

@media screen and (max-width: 700px) {
    .flex-box-40-resp {
        width: 100%;
    }
    .featured-container-box-2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .businesses-container {
        padding-top: 10px;
    }
    .businesses-container-box-2 {
        padding-top: 40px;
    }
}
@media screen and (max-width: 640px) {
    html {
        font-size: 8px;
    }
    .absolute-m-nav {
        width: 100%;
    }
    .mushkilon-ext {
        width: 100%;
    }
    .mushkilon-video {
        width: 70%;
    }
    .businesses-container {
        padding-top: 0;
    }
}
@media screen and (max-width: 500px) {
    .businesses-container-box-2 {
        width: 70%;
        grid-template-columns: repeat(1, 1fr);
    }
}